/* ========== [Theme] ========== */


/* === [Catppuccin] === */


/* == [Latte] == 

@import url(//catppuccin.github.io/discord/dist/catppuccin-latte.theme.css);


/* == [Frappe] == */

@import url(//catppuccin.github.io/discord/dist/catppuccin-frappe.theme.css);


/* == [Macchiato] == 

@import url(//catppuccin.github.io/discord/dist/catppuccin-macchiato.theme.css);


/* == [Mocha] ==

@import url(//catppuccin.github.io/discord/dist/catppuccin-mocha.theme.css);


/* === [Others] === */


/* ==[Tokyo Night] == 

@import url(//dyzean.github.io/Tokyo-Night/main.css);


/* == [One Dark] == 

@import url(//frolleks.github.io/one-dark-discord/css/main.css);




/* ========== [@imports] ========== */


/* == [Mini Themes / Plugins List] == 

@import url(//maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);


/* == [Mini Themes / Plugins List: Vencord Edition] == */

@import url(//minidiscordthemes.github.io/MinimalAddonCards/MinimalAddonCards.theme.css);


/* == [Better Invites] == 

@import url(//maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css);


/* == [Better User Panel V1] == 

@import url(//dablulite.github.io/css-snippets/RedesignedUserPanel/import.css);


/* == [Better User Panel V2] == 

@import url(//dablulite.github.io/css-snippets/Omnibar/import.css);


/* == [Better User Panel V3] == 

@import url(//dablulite.github.io/css-snippets/UserReimagined/import.css);


/* == [Better User Panel V4] == 

@import url(//dablulite.github.io/css-snippets/SuperUserArea/import.css);


/* == [Account Details Grid] == */

@import url(//raw.githubusercontent.com/SeanHarmanis/Discord-Fixed-Snippets/main/Account-Details-Grid.css);


/* == [Fix Nitro Themes] == 

@import url(//dablulite.github.io/css-snippets/NitroThemesFix/import.css);


/* == [Better Editor] == 

@import url(//dablulite.github.io/css-snippets/BetterFloatingEditor/import.css);


/* == [Profile Skins (Follows Banner Color)] == 

@import url(//maendisease.github.io/BetterDiscordStuff/css/ProfileBannerSkins.css);


/* == [Revert Watermark] == */

@import url(//raw.githubusercontent.com/SeanHarmanis/Discord-Fixed-Snippets/main/Revert-Watermark.css);


/* == [Toggles V2] == */

@import url(//raw.githubusercontent.com/SeanHarmanis/Discord-Fixed-Snippets/main/Better-Toggles.css);


/* == [Role Color Tint] == 

@import url(//minidiscordthemes.github.io/Snippets/RoleTint/RoleTint.css);


/* == [Rounded Discord] == */

@import url(//MarkChan0225.github.io/RoundedDiscord/src/roundeddiscord.css);


/* == [Uni Chatbar] == 

@import url(//dablulite.github.io/css-snippets/ConsistentChatbar/import.css);


/* == [Fluent Icons] == 

@import url(//discordstyles.github.io/Fluent/Icons.css);


/* == [No Nitro Borders] == 

@import url(//dablulite.github.io/css-snippets/BetterNitroProfileBorder/import.css);


/* == [Better Status Picker] == */

@import url(//raw.githubusercontent.com/SeanHarmanis/Discord-Fixed-Snippets/main/Simple-Status.css);


/* == [Better Spotify Activity] == 

@import url(//dablulite.github.io/css-snippets/SpotifyActivityRedesign/import.css);



/* ==================== [DEPENDENCIES] ==================== */


/* == [Settings Modal] == */

@import url(//mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css);


/* == [RadialStatus] == */

@import url(//discordstyles.github.io/RadialStatus/dist/RadialStatus.css);




/* ==================== [Core Features] ==================== */

/* ========== [Discolored] ========== 

@import url(//nyri4.github.io/Discolored/main.css); 




/* ========== [Syntax Highlight in Codeblock Messages] ========== 

@import url(//dyzean.github.io/Tokyo-Night/addons/syntax-highlight.css);




/* ========== [Username Background / Chat Bubbles] [Not Compatible With One Another] ========== */

/* == [Chat Bubbles] == */

@import url(//raw.githubusercontent.com/SeanHarmanis/Discord-Fixed-Snippets/main/Chat-Bubbles.css); 


/* == [Username Background] == 

@import url(//raw.githubusercontent.com/SeanHarmanis/Discord-Fixed-Snippets/main/Username-Background.css); 




/* ========== [Titlebars (Windows Only)] ========== */

/* == [DTM-16 Titlebar] == 

@import url(//gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css);


/* == [ShitOS] == 

@import url(//dablulite.github.io/css-snippets/MacosTitlebar/import.css);
:root {--mactitlebar-left-margin: 5px; --mactitlebar-top-margin: 10px; --mactitlebar-button-width: 20px; --mactitlebar-button-height: 20px; --mactitlebar-button-border-radius: 50px; --mactitlebar-close-btn-back: #f04747; --mactitlebar-min-btn-back: #faa61a; --mactitlebar-max-btn-back: #43b581; --macbuttons-serverlist-inner-top-margin: 32px; --macbuttons-serverlist-outer-top-margin: 0; --macbuttons-serverlist-outer-height: 100%;}


/* == [Fedor] == 

.titleBar__01af6 {margin-top: 0; height: 36px; padding: 6px 12px; gap: 8px; position: absolute; right: 0;}
.winButton__88672 {height: 36px; width: 36px; top: 0; transition: .2s; border-radius: 50%; background-color: var(--background-tertiary) !important; justify-content: center;}
.container__11d72 * {-webkit-app-region: no-drag;}
.platform-win .container__11d72 {width: calc(100% - ((36px * 3) + 24px)); -webkit-app-region: drag;}
.wordmark__0d178 {display: none;}
.platform-win:has(.callContainer_cbde45) .container__11d72 {width: calc(100% - ((36px * 3) + 18px));}
.layer__2efaa :has(+ .layer__2efaa ) .container__11d72 {-webkit-app-region: no-drag !important;}


/* == [Big Dick Titlebar] == */

.winButton__88672 {height: 32px; width: 32px; margin-top: 0px; padding-left: 8px; padding-right: 8px; top: 0;}
.withFrame__485f4 {height: fit-content; margin-top: 0px;}
.wordmarkWindows__05c46 {margin-top: 8px; margin-left: 8px; padding: 0px;}




/* ========== [Custom Font] ========== */


/* == [Quickand Light] == 

:root {--font-primary: "Quicksand Light", sans-serif; --font-display: "Quicksand Light", sans-serif; --font-code: "JetBrains Mono Light", sans-serif;}


/* == [Quickand] == 

:root {--font-primary: "Quicksand", sans-serif; --font-display: "Quicksand", sans-serif; --font-code: "JetBrains Mono Light", sans-serif;}


/* == [JetBrains Mono Light] == */

:root {--font-primary: "JetBrains Mono Light", sans-serif; --font-display: "JetBrains Mono Light", sans-serif; --font-code: "JetBrains Mono Light", sans-serif;}




/* ========== [Better Jump To Present Button] ========== */
  
[class*="jumpToPresentBar"] {display: contents;}
[class*="jumpToPresentBar"] > button:first-child {display: none;}
[class*="jumpToPresentBar"] > button:last-child {position: absolute; z-index: 1; bottom: 24px; right: 22px; padding: 8px !important; height: auto; background-color: #5865F2; box-shadow: var(--elevation-high); border-radius: 100px; display: flex; font-size: 0px; color: transparent; transition: font-size .2s .1s, color .2s, padding .4s .1s;}
[class*="jumpToPresentBar"] > button svg {order: -1; margin: 0px; height: 24px; width: 24px; top: auto; margin-right: 0px; margin-left: 0px; color: #FFFFFF; transition: margin .6s;}
[class*="jumpToPresentBar"]:hover > button {padding: 8px 18px !important; font-size: 14px; color: #FFFFFF; transition: font-size .2s, color .2s .1s, padding .4s;}
[class*="jumpToPresentBar"]:hover > button svg {margin-right: 2px;margin-left: -6px;}




/* ========== [Better Folders] ========== */

.closedFolderIconWrapper__7321f {display: none;}
.folderIconWrapper__72239:not([style=""])::before {position: absolute; content: ""; width: 18px; height: 18px; top: 0; left: 0; right: 0; bottom: 0; margin: auto; background-color: inherit; -webkit-mask: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg) no-repeat; mask: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg) no-repeat; transform: scale(1.3335); filter: brightness(1.5) saturate(1.5);}




/* ========== [Better Toasts] ========== */

.toast-1DEQGy, .toast-q3Y4wI {background: #43b581 !important; transform: translateY(10px); padding: 6px 10px 6px 10px !important; border-radius: 5px; box-shadow: var(--elevation-medium), var(--elevation-stroke); font-weight: 500; color: var(--header-primary); opacity: 1; margin-top: 10px;}
.toast-1DEQGy .icon-q80NJC > path, .toast-q3Y4wI .icon-2QUmmw > path {d: none !important;}
.toast-1DEQGy .icon-q80NJC,.toast-q3Y4wI .icon-2QUmmw {height: 20px !important; width: 20px !important; margin-top: 0 !important; background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptLTIgMTVsLTUtNSAxLjQxLTEuNDFMMTAgMTQuMTdsNy41OS03LjU5TDE5IDhsLTkgOXoiLz48L3N2Zz4=); background-size: 20px 20px;}
.toast-1DEQGy .colorHeaderPrimary-26Jzh-, .toast-q3Y4wI .colorHeaderPrimary-jN_yGr {font-size: 14px !important; line-height: 20px !important;}






/* ==================== [MISC. MODULES] ==================== */






/* ========== [Widescreen settings] ========== 

.sidebarRegion-1VBisG, .sidebarRegionScroller-FXiQOh {justify-content: unset; flex: unset;}
.contentColumn-1C7as6, .customColumn-2n-oKU, .hero-1aNo0v {max-width: unset;}
.accountProfileCard-lbN7n- {max-width: 750px;}
.notificationSettings-1U0JsJ {max-width: 45%;}




/* ========== [Hover Buttons] ========== */

.panels__58331 > .container_ca50b9 .flex_f5fbb7 > :not(:last-child) {opacity: 0% !important; width: 0px; transition: all 0.2s ease-in-out;}
.panels__58331 > .container_ca50b9:hover .flex_f5fbb7 > :not(:last-child) {opacity: 100% !important; width: 32px;}
.container_ca50b9 {justify-content: space-between;}
/*.panels-3wFtMD {order: -1;} 




/* ========== [Scrollable Codeblock] ========== */

.markup_a7e664 blockquote, .markup_a7e664 pre > code{max-height:200px; overflow-x: hidden; overflow-y:scroll;}
.markup_a7e664 blockquote::-webkit-scrollbar, .markup_a7e664 pre > code::-webkit-scrollbar {width: 15px; height: 15px;}
.markup_a7e664 blockquote::-webkit-scrollbar-track , .markup_a7e664 pre > code::-webkit-scrollbar-track {border-radius: 10px; background-color: rgba(255 255 255 / 0%);}
.markup_a7e664 blockquote::-webkit-scrollbar-thumb, .markup_a7e664 pre > code::-webkit-scrollbar-thumb {background-color: rgb(120 120 120 / 0%); border-radius: 10px;}
.markup_a7e664 blockquote, .markup_a7e664 pre > code {max-width: 629px;}




/* ========== [Delete Chatbox on Unmessagable Channels] ========== */

.channelTextAreaDisabled_c43b1c, .channelTextAreaDisabled_c43b1c > .scrollableContainer__33e06{animation: nochat .000001ms forwards;}
@keyframes nochat{to{height: 0}}
.wrapper_fbbb73 {display: none;}




/* ========== [Custom Message Box Text] ========== */

.textAreaSlate_e0e383>div:not([class])>:nth-last-child(2){font-size:0}
.textAreaSlate_e0e383>div:not([class])>:nth-last-child(2):before{content: 'Input Message Package Here:'; font-size: 0.9rem;}
.textAreaSlate_e0e383{overflow: hidden;}




/* ========== [Floating Folder] ========== 

.wrapper_ed1dea:active {-webkit-transform: unset; transform: none;}
[id^="folder-items-"] {position: fixed; top: 0; bottom: 0; z-index: 99;overflow-y: auto; max-height: calc(100vh - 72px);margin: auto auto auto calc(72px + 8px); padding-top: 8px; border-radius: 8px; background: var(--background-floating); -webkit-box-shadow: var(--elevation-high); box-shadow:  var(--elevation-high);}
[id^="folder-items-"]::-webkit-scrollbar {display: none;}




/* ========== [Hiding Misceleanous Stuff] ========== */

.scroller__1f96e::-webkit-scrollbar {display: none}
.container__4f639 {display: none;}
.searchBar_e4ea2a {display: none;}
.tutorialContainer_dc6fde, .tutorialContainer_dc6fde + .listItem_fa7b36 {display: none;}
.avatar__7c789 {display: none;}
.channel_c21703:has([href$="/@me"],[href$="store"]){display:none;}
.note_ba0c31 {display: none;}
.title_ef4a6d {display: none;}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {display: none;}
.section__6f61e:has([class*=note]) > .title_ef4a6d {opacity: 0;} 
.textarea_c5a7a3 {display: none;}
.recentsIcon__3c4cf, .anchor_c8ddc0[href="https://support.discord.com"], [aria-label="Notification Settings"] {display: none;}
.content__1a4fe:before, .form__13a2c:before, .children__32014:after {content: none;}
.header__104ca, .searchBar_e4ea2a {box-shadow: none;}
.title_b7d661 > .toolbar__88c63 > .iconWrapper_af9215[aria-label$="User Profile" i], .chatContent__5dca8 + .profilePanel-2PWEok {display: none;}

.voiceChannelsButton__46c37 {display: none;}

.app_b1f720:has(.withTagAsButton_cc125f:hover, .withTagless__98b7d:hover) ~ .layerContainer_d5a653 .tooltip__01384 {display: none;}

.nowPlayingColumn_f5023f {display: none;}

.peopleListIten-u6dGxF {display: none;}

.relationshipButtons-3ByBpj .lookFilled__19298.colorGreen__5f181 {display: none;}

.additionalActionsIcon-3Cy8UU {display: none;}

.badgeList__243e0.containerWithContent__7e98f.container__5bda1 {display: none;}

.button_f0455c, .emojiButtonNormal__73cd3, .emojiButton__8ff6a {display: none;}

.section__6f61e.section__76155.lastSection__37b97 {display: none;}

.icon_eff5d4 {display: none;}

.attachWrapper__6354f {display: none;}

[class*="profileEffects"] {display:none;}

[href="/shop"] {display: none;}




/* ========== [Bigger Emotes] ========== */

.emoji.jumboable {width: 96px; height: 96px; border-radius: 0.5rem;}




/* ========== [Rounded Stuff] ========== */

markup_a7e664 messageContent__21e69 {border-radius: 20px;}

.embed_d3cbe3 {border-radius: 40px;}

code:not(code.inline) {border-radius: 20px !important;}

.roundedBanner__9fa0a, .userProfileInner__8065b {border-radius: 27px 27px 0 0;}
.accountProfileCard__22589, .root-8LYsGj {border-radius: 30px;}
.userProfileOuter__46bb7 {border-radius: 30px;}
.userPopoutInner_f545a3::before, .userProfileModalInner__7c87d::before {border-radius: 27px;}

.field__9e8e2, .field__9e8e2 button {border-radius: 20px !important;}

.contentWrapper__321ed {border-radius: 30px;}

.menu_dc52c6, .colorDefault__0b482 {border-radius: 20px;}

div.userPopoutOverlayBackground_d8afa4.overlayBackground__86b78 {border-radius: 27px;}

.userProfileModalOverlayBackground__52d65 {border-radius: 27px;}

div.background_b61fcc {border-radius: 27px;}

link-1-kTxV.linkWihChannelEmoji-3T2y0p {border-radius: 15px;}




/* ========== [Small Fixes] ========== */

.header__39b23 > div {display: inline;}

html:not(.app-focused) .isUnread__6f880 {border-color: transparent}
.isUnread__6f880 {transition: .15s}
html:not(.app-focused) .newMessagesBar__8b6d7 {opacity: 0}
.newMessagesBar__8b6d7 {transition: .15s}
img[src$="3aa41de486fa12454c3761e8e223442e.png"]{content:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48cGF0aCBkPSJNMjEuNTkxIDUuMzE4bC03Ljg3IDUuMTY2YS45MTQuOTE0IDAgMCAwLS4zMTYuMzU0bC0xLjIgMi40MDVhLjIyNC4yMjQgMCAwIDEtLjQxIDBsLTEuMi0yLjQwNWEuOTE0LjkxNCAwIDAgMC0uMzE3LS4zNTRsLTcuODctNS4xNjZhLjIzMi4yMzIgMCAwIDAtLjM1NC4yOThsMy4yODkgNi4zOTdhLjIzNi4yMzYgMCAwIDEtLjE4LjMzNUgzLjE4NWEuMjMuMjMgMCAwIDAtLjEzNy40MTdsOC44MTQgNi4zMTVhLjI0My4yNDMgMCAwIDAgLjI3NCAwbDguODE0LTYuMzE1YS4yMy4yMyAwIDAgMC0uMTM3LS40MTdoLTEuOTc2YS4yMzcuMjM3IDAgMCAxLS4yMDYtLjMzNWwzLjMxNC02LjM5N2EuMjMyLjIzMiAwIDAgMC0uMzU1LS4yOThoLjAwMXoiIGZpbGw9IiM0NWRkYzAiLz48L3N2Zz4=")}img[src$="8a88d63823d8a71cd5e390baa45efa02.png"]{content:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48cGF0aCBmaWxsPSIjOWM4NGVmIiBkPSJNMjEuNTkxIDUuMzE4bC03Ljg3IDUuMTY2YS45MTQuOTE0IDAgMCAwLS4zMTYuMzU0bC0xLjIgMi40MDVhLjIyNC4yMjQgMCAwIDEtLjQxIDBsLTEuMi0yLjQwNWEuOTE0LjkxNCAwIDAgMC0uMzE3LS4zNTRsLTcuODctNS4xNjZhLjIzMi4yMzIgMCAwIDAtLjM1NC4yOThsMy4yODkgNi4zOTdhLjIzNi4yMzYgMCAwIDEtLjE4LjMzNUgzLjE4NWEuMjMuMjMgMCAwIDAtLjEzNy40MTdsOC44MTQgNi4zMTVhLjI0My4yNDMgMCAwIDAgLjI3NCAwbDguODE0LTYuMzE1YS4yMy4yMyAwIDAgMC0uMTM3LS40MTdoLTEuOTc2YS4yMzcuMjM3IDAgMCAxLS4yMDYtLjMzNWwzLjMxNC02LjM5N2EuMjMyLjIzMiAwIDAgMC0uMzU1LS4yOThoLjAwMXoiLz48L3N2Zz4=")}img[src$="011940fd013da3f7fb926e4a1cd2e618.png"]{content:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48cGF0aCBmaWxsPSIjZjQ3YjY3IiBkPSJNMjEuNTkxIDUuMzE4bC03Ljg3IDUuMTY2YS45MTQuOTE0IDAgMCAwLS4zMTYuMzU0bC0xLjIgMi40MDVhLjIyNC4yMjQgMCAwIDEtLjQxIDBsLTEuMi0yLjQwNWEuOTE0LjkxNCAwIDAgMC0uMzE3LS4zNTRsLTcuODctNS4xNjZhLjIzMi4yMzIgMCAwIDAtLjM1NC4yOThsMy4yODkgNi4zOTdhLjIzNi4yMzYgMCAwIDEtLjE4LjMzNUgzLjE4NWEuMjMuMjMgMCAwIDAtLjEzNy40MTdsOC44MTQgNi4zMTVhLjI0My4yNDMgMCAwIDAgLjI3NCAwbDguODE0LTYuMzE1YS4yMy4yMyAwIDAgMC0uMTM3LS40MTdoLTEuOTc2YS4yMzcuMjM3IDAgMCAxLS4yMDYtLjMzNWwzLjMxNC02LjM5N2EuMjMyLjIzMiAwIDAgMC0uMzU1LS4yOThoLjAwMXoiLz48L3N2Zz4=")}

.search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b {width: 27px; background-color: transparent;}
.search_ac353c:not(.open_d3ab4e):hover .searchBar_e0c60b {width: 100px; background-color: var(--background-tertiary);}
.search_ac353c:not(.open_d3ab4e) .iconContainer__8fa9c {transform: scale(1.3);}
.search_ac353c:not(.open_d3ab4e):hover .iconContainer__8fa9c {transform: scale(1);}
.search_ac353c:not(.open_d3ab4e) .icon_f50f05 {color: var(--text-normal);}
.search_ac353c:not(.open_d3ab4e):hover .icon_f50f05 {color: var(--text-muted);}

.theme-dark .container_ca50b9 {background-color:  var(--background-secondary)} 

@font-face {font-family: "Dashless"; src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");}
[data-list-item-id^=channels___],
[class^=titleWrapper] > h1,
[class^=resultChannel], 
[class^=channelMention], 
[class^=placeholder][class*=slateTextArea] 
{font-family: "Dashless", var(--font-primary);}

.side-2ur1Qk :nth-child(8)::before {content: "Friend Requests"; color: inherit; font-size: 16px;}
.side-2ur1Qk :nth-child(8) {font-size: 0px; height: 32px;}

[class*=messageContent] :is(h1, h2, h3) {color: #631616;}
[class*=messageContent] strong {color: #21333f;}




/* ========== [Settings Modal] ========== */

:root {--settingsmodalbackground: transparent; --settingsmodalwidth: 980px; --settingsmodalheight: 78vh;}
#app-mount .layer__2efaa  ~ .layer__2efaa  {border-radius: 30px !important;}
.auto_a48086::-webkit-scrollbar {width: 20px; height: 20px;}
.auto_a48086::-webkit-scrollbar-thumb, .auto_a48086::-webkit-scrollbar-track {display: none;}



/* ========== [Radial Status] ========== */

:root {
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 3px;
  --rs-large-spacing: 4px;

  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 4px;
  --rs-avatar-shape: 50%;

  
  --rs-online-color: #88c0d0;
  --rs-idle-color: #cb77d3;
  --rs-dnd-color: #ff6b6d;
  --rs-offline-color: #747f8d;
  --rs-streaming-color: #593695;
  --rs-invisible-color: #747f8d;
  --rs-bot-color: #5865f2;
  --rs-phone-color: var(--rs-online-color);
  --rs-phone-visible: none;
}




/* ========== [Rounded Discord] ========== */

:root {--radius: 20px;} 




/* ========== [Rounded User Panel] ========== 

[class^="sidebar_"] [class^="panels_"] {margin-right: 5px; margin-bottom: 5px; margin-left: 5px; border: 1px solid var(--background-modifier-accent); border-radius: 20px; box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);}
[class^="sidebar_"] [class^="panels_"] [class^="container_"], [class^="sidebar_"] [class^="panels_"] [class^="panel_"] {background: transparent !important;}
[class^="sidebar_"] [class^="panels_"] [class^="container_"] [class^="avatarWrapper_"] + [class^="flex_"] {margin-left: -10px;}
#vc-spotify-player {border-top-left-radius: 20px; border-top-right-radius: 20px;}
html.custom-theme-background [class^="sidebar_"] {background: var(--bg-overlay-3);}
html.custom-theme-background [class^="sidebar_"] [class^="panels_"] {background: var(--bg-overlay-1);}
*/





/* ========== [Bigger YouTube Embeds] ========== */

[class^="embedWrapper_"]:has(iframe),
[class^="embedWrapper_"]:has(img[src*="i.ytimg.com"]) {
  max-width: 750px !important;

  [class^="gridContainer_"] {
    max-width: 750px !important;
  }

  [class*="embedMedia_"] {
    max-width: 750px !important;
    max-height: unset !important;

    [class^="imageWrapper_"] {
      max-width: 750px !important;
      aspect-ratio: 16/9 !important;

      img {
        max-width: 750px !important;
        max-height: unset !important;
        aspect-ratio: 16/9 !important;
      }
    }

    & > [class^="embedVideo_"] {
      max-width: 750px !important;
      aspect-ratio: 16/9;
      padding: 0 !important;

      & > iframe {
        max-width: unset !important;
        max-height: unset !important;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
