/* ========== [@imports] ========== */


/* == [Mini Themes / Plugins List: Vencord Edition] == */

@import url(//minidiscordthemes.github.io/MinimalAddonCards/MinimalAddonCards.theme.css);


/* == [Better Invites] ==

@import url(//maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css);


/* == [Better User Panel V1] == 

@import url(//dablulite.github.io/css-snippets/RedesignedUserPanel/import.css);


/* == [Better User Panel V2] == 

@import url(//dablulite.github.io/css-snippets/Omnibar/import.css);


/* == [Better User Panel V3] == 

@import url(//dablulite.github.io/css-snippets/UserReimagined/import.css);


/* == [Account Details Grid] == 

@import url(//raw.githubusercontent.com/SeanMatts/Discord-Fixed-Snippets/main/Account-Details-Grid.css);


/* == [Fix Nitro Themes] == 

@import url(//dablulite.github.io/css-snippets/NitroThemesFix/import.css);


/* == [Toggles V2] == */

@import url(//raw.githubusercontent.com/SeanMatts/Discord-Fixed-Snippets/main/Better-Toggles.css);


/* == [Role Color Tint] == 

@import url(//minidiscordthemes.github.io/Snippets/RoleTint/RoleTint.css);


/* == [Rounded Discord] == */

@import url(//raw.githubusercontent.com/SeanMatts/Discord-Fixed-Snippets/refs/heads/main/Rounded_Discord.css);


/* == [Uni Chatbar] == 

@import url(//dablulite.github.io/css-snippets/ConsistentChatbar/import.css);


/* == [Fluent Icons] == 

@import url(//discordstyles.github.io/Fluent/Icons.css);


/* == [No Nitro Borders] == 

@import url(//raw.githubusercontent.com/SeanMatts/Discord-Fixed-Snippets/main/No_Nitro_Borders.css);


/* == [Better Status Picker] == */

@import url(//dablulite.github.io/css-snippets/BetterStatusPicker/import.css);


/* == [Better Spotify Activity] == 

@import url(//dablulite.github.io/css-snippets/SpotifyActivityRedesign/import.css);


/* == [Pretty Folder Icons] == 

@import url(//dablulite.github.io/css-snippets/PrettyFolderIcons/import.css);


/* == [Better Search] == */

@import url(://raw.githubusercontent.com/SeanMatts/Discord-Fixed-Snippets/main/Search_Icon.css);



/* ==================== [DEPENDENCIES] ==================== */


/* == [Settings Modal] == */

@import url(//mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css);


/* == [RadialStatus] == */

@import url(//discordstyles.github.io/RadialStatus/dist/RadialStatus.css);


/* ========== [Acrylic Right Click Menu] ========== */

@import url(//raw.githubusercontent.com/SeanMatts/Discord-Fixed-Snippets/refs/heads/main/Acrylic_Popup.css);




/* ==================== [Core Features] ==================== */

/* ========== [Discolored] ========== */

@import url(//nyri4.github.io/Discolored/main.css); 




/* ========== [Syntax Highlight in Codeblock Messages] ========== 

@import url(//dyzean.github.io/Tokyo-Night/addons/syntax-highlight.css);




/* ========== [Username Background / Chat Bubbles] [Not Compatible With One Another] ========== */

/* == [Chat Bubbles] == */

@import url(//raw.githubusercontent.com/SeanMatts/Discord-Fixed-Snippets/refs/heads/main/Chat-Bubbles.css); 


/* == [Username Background] == 

@import url(//raw.githubusercontent.com/SeanMatts/Discord-Fixed-Snippets/refs/heads/main/Username-Background.css); 




/* ========== [Titlebars (Windows Only)] ========== */

/* == [Big Dick Titlebar] == 

@import url(//raw.githubusercontent.com/SeanMatts/Discord-Fixed-Snippets/main/Big_titlebar.css);


/* == [ShitOS] == 

@import url(https://raw.githubusercontent.com/SeanMatts/Discord-Fixed-Snippets/main/MacOS_Titlebar.css);
:root {
    --mactitlebar-left-margin: 14.5px;
    --mactitlebar-top-margin: 23px;
    --mactitlebar-button-width: 20px;
    --mactitlebar-button-height: 20px;
    --mactitlebar-button-border-radius: 50px;
    --mactitlebar-close-btn-back: #f25056;
    --mactitlebar-min-btn-back: #fac536;
    --mactitlebar-max-btn-back: #39ea49;
    --macbuttons-serverlist-inner-top-margin: 32px;
}


/* == [DTM-16 Titlebar] == */

:root {
  --TB-header-padding: 125px;
}
.platform-win .typeWindows__421ed {
  height: var(--TB-bar-height, 9px);
  margin-top: 0;
  position: absolute;
  top: 10px;
  left: -13px;
  width: 100%;
  background: transparent;
}
.platform-win .winButtonClose__421ed {
  border-top-right-radius: var(--TB-tr-roundness);
}
.platform-win .winButton__421ed {
  position: relative;
  top: calc(var(--TB-position-top, 0px) - 1px);
  right: var(--TB-position-right, 0px);
  height: var(--TB-height, 48px);
  width: var(--TB-width, 40px);
}
.platform-win .winButton__421ed:not(.winButtonClose__421ed):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.platform-win .container__9293f {
  padding-right: var(--TB-header-padding);
}
.platform-win .wordmarkWindows__421ed {
  display: none;
}
.platform-win #app-mount.bd-detached-editor .winButton__421ed {
  right: 30%;
}
.platform-win .closeButton__90904 {
  right: unset;
  left: 0;
}
.platform-win #app-mount .typeWindows__421ed::before {
  content: none !important;
}




/* ========== [Custom Font] ========== */


/* == [Quickand Light] == 

:root {--font-primary: "Quicksand Light", sans-serif; --font-display: "Quicksand Light", sans-serif; --font-code: "JetBrains Mono Light", sans-serif;}


/* == [Quickand] == */

:root {--font-primary: "Quicksand SemiBold", sans-serif; --font-display: "Quicksand SemiBold", sans-serif; --font-code: "JetBrains Mono Light", sans-serif;}


/* == [JetBrains Mono Light] == 

:root {--font-primary: "JetBrains Mono Light", sans-serif; --font-display: "JetBrains Mono Light", sans-serif; --font-code: "JetBrains Mono Light", sans-serif;}




/* ========== [Better Jump To Present Button] ========== */
  
[class*="jumpToPresentBar"] {display: contents;}
[class*="jumpToPresentBar"] > button:first-child {display: none;}
[class*="jumpToPresentBar"] > button:last-child {position: absolute; z-index: 1; bottom: 24px; right: 22px; padding: 8px !important; height: auto; background-color: #5865F2; box-shadow: var(--elevation-high); border-radius: 100px; display: flex; font-size: 0px; color: transparent; transition: font-size .2s .1s, color .2s, padding .4s .1s;}
[class*="jumpToPresentBar"] > button svg {order: -1; margin: 0px; height: 24px; width: 24px; top: auto; margin-right: 0px; margin-left: 0px; color: #FFFFFF; transition: margin .6s;}
[class*="jumpToPresentBar"]:hover > button {padding: 8px 18px !important; font-size: 14px; color: #FFFFFF; transition: font-size .2s, color .2s .1s, padding .4s;}
[class*="jumpToPresentBar"]:hover > button svg {margin-right: 2px;margin-left: -6px;}




/* ========== [Better Toasts] ========== */

.toast-1DEQGy, .toast-q3Y4wI {background: #43b581 !important; transform: translateY(10px); padding: 6px 10px 6px 10px !important; border-radius: 5px; box-shadow: var(--elevation-medium), var(--elevation-stroke); font-weight: 500; color: var(--header-primary); opacity: 1; margin-top: 10px;}
.toast-1DEQGy .icon-q80NJC > path, .toast-q3Y4wI .icon-2QUmmw > path {d: none !important;}
.toast-1DEQGy .icon-q80NJC,.toast-q3Y4wI .icon-2QUmmw {height: 20px !important; width: 20px !important; margin-top: 0 !important; background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptLTIgMTVsLTUtNSAxLjQxLTEuNDFMMTAgMTQuMTdsNy41OS03LjU5TDE5IDhsLTkgOXoiLz48L3N2Zz4=); background-size: 20px 20px;}
.toast-1DEQGy .colorHeaderPrimary-26Jzh-, .toast-q3Y4wI .colorHeaderPrimary-jN_yGr {font-size: 14px !important; line-height: 20px !important;}






/* ==================== [MISC. MODULES] ==================== */






/* ========== [Widescreen settings] ========== 

.sidebarRegion__23e6b, .sidebarRegionScroller__23e6b {justify-content: unset; flex: unset;}
.contentColumn__23e6b, .customColumn__23e6b, .hero-1aNo0v {max-width: unset;}
.accountProfileCard__1fed1 {max-width: 750px;}
.notificationSettings-1U0JsJ {max-width: 45%;}




/* ========== [Hover Buttons] ========== */

.panels_c48ade > .container__37e49 .flex__7c0ba > :not(:last-child) {opacity: 0% !important; width: 0px; transition: all 0.2s ease-in-out;}
.panels_c48ade > .container__37e49:hover .flex__7c0ba > :not(:last-child) {opacity: 100% !important; width: 32px;}
.container__37e49 {justify-content: space-between;}
/*.panels_c48ade {order: -1;} 




/* ========== [Scrollable Codeblock] ========== */

.markup__75297 blockquote, .markup__75297 pre > code{max-height:200px; overflow-x: hidden; overflow-y:scroll;}
.markup__75297 blockquote::-webkit-scrollbar, .markup__75297 pre > code::-webkit-scrollbar {width: 15px; height: 15px;}
.markup__75297 blockquote::-webkit-scrollbar-track , .markup__75297 pre > code::-webkit-scrollbar-track {border-radius: 10px; background-color: rgba(255 255 255 / 0%);}
.markup__75297 blockquote::-webkit-scrollbar-thumb, .markup__75297 pre > code::-webkit-scrollbar-thumb {background-color: rgb(120 120 120 / 0%); border-radius: 10px;}
.markup__75297 blockquote, .markup__75297 pre > code {max-width: 629px;}




/* ========== [Delete Chatbox on Unmessagable Channels] ========== */

.channelTextAreaDisabled__74017, .channelTextAreaDisabled__74017 > .scrollableContainer__74017{animation: nochat .000001ms forwards;}
@keyframes nochat{to{height: 0}}
.wrapper__44df5 {display: none;}




/* ========== [Custom Message Box Text] ========== */

.textAreaSlate__74017>div:not([class])>:nth-last-child(2){font-size:0}
.textAreaSlate__74017>div:not([class])>:nth-last-child(2):before{content: '/~.root:'; font-size: 0.9rem;}
.textAreaSlate__74017{overflow: hidden;}




/* ========== [Floating Folder] ========== 

.wrapper__48112:active {-webkit-transform: unset; transform: none;}
[id^="folder-items-"] {position: fixed; top: 0; bottom: 0; z-index: 99;overflow-y: auto; max-height: calc(100vh - 72px);margin: auto auto auto calc(72px + 8px); padding-top: 8px; border-radius: 40px; background: var(--background-floating); -webkit-box-shadow: var(--elevation-high); box-shadow:  var(--elevation-high);}
[id^="folder-items-"]::-webkit-scrollbar {display: none;}




/* ========== [Hiding Misceleanous Stuff] ========== */

.scroller__36d07::-webkit-scrollbar {display: none}
.container_eff079 {display: none;}
.searchBar__35e86 {display: none;}
.tutorialContainer__650eb, .tutorialContainer__650eb + .listItem__650eb {display: none;}
.avatar_f75fb0 {display: none;}
.channel__972a0:has([href$="/@me"],[href$="store"]){display:none;}
.note_c90ad7 {display: none;}
.title_c4a579 {display: none;}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {display: none;}
.section_d7a21f:has([class*=note]) > .title_c4a579 {opacity: 0;} 
.textarea_dde0a8 {display: none;}
.recentsIcon_c99c29, .anchor_edefb8[href="https://support.discord.com"], [aria-label="Notification Settings"] {display: none;}
.content_f75fb0:before, .form_f75fb0:before, .children__9293f:after {content: none;}
.header_f37cb1, .searchBar__35e86 {box-shadow: none;}
.title_f75fb0 > .toolbar__9293f > .iconWrapper__9293f[aria-label$="User Profile" i], .chatContent_f75fb0 + .profilePanel-2PWEok {display: none;}

.voiceChannelsButton__29444 {display: none;}

.app_a3002d:has(.withTagAsButton_b2ca13:hover, .withTagless_b2ca13:hover) ~ .layerContainer_da8173 .tooltip__382e7 {display: none;}

.nowPlayingColumn__133bf {display: none;}

.peopleListIten-u6dGxF {display: none;}

.relationshipButtons-3ByBpj .lookFilled__201d5.colorGreen__201d5 {display: none;}

.additionalActionsIcon-3Cy8UU {display: none;}

.badgeList__1fed1.containerWithContent_b64375.container__8061a {display: none;}

.button__24af7, .emojiButtonNormal__04eed, .emojiButton__04eed {display: none;}

.section_d7a21f.section_f2c0a8.lastSection_d7a21f {display: none;}

.icon__2ea32 {display: none;}

.attachWrapper__0923f {display: none;}

[class*="profileEffects"] {display:none;}

[href="/shop"] {display: none;}

* {scrollbar-width: unset !important; scrollbar-color: unset !important;}

header__1d5fc{display: none !important;}

heading-xl/semibold_dc00ef defaultColor_e9e35f title__921c5 marginBottom8_fd297e{display: none !important;}

text-md/normal_dc00ef{display: none !important;}

.buttonContainer_e6e74f {display: none;}

.custom-profile-theme {--custom-user-profile-theme-padding: 0 !important; }





/* ========== [Bigger Emotes] ========== */

.emoji.jumboable {width: 96px; height: 96px; border-radius: 0.5rem;}




/* ========== [Rounded Stuff] ========== */

markup__75297 messageContent_c19a55 {border-radius: 20px;}

.embed__623de {border-radius: 40px;}

code:not(code.inline) {border-radius: 20px !important;}

.roundedBanner_c3e427, .userProfileInner_c69a7b {border-radius: 27px 27px 0 0;}
.accountProfileCard__1fed1, .root-8LYsGj {border-radius: 30px;}
.userProfileOuter_c69a7b {border-radius: 30px;}
.userPopoutInner_c69a7b::before, .userProfileModalInner_c69a7b::before {border-radius: 30px;}

.field__1fed1, .field__1fed1 button {border-radius: 20px !important;}

.contentWrapper__08434 {border-radius: 30px;}

.menu_c1e9c4, .colorDefault_c1e9c4 {border-radius: 20px;}

div.userPopoutOverlayBackground_c69a7b.overlayBackground_c69a7b {border-radius: 27px;}

.userProfileModalOverlayBackground_c69a7b {border-radius: 27px;}

div.background__1fed1 {border-radius: 27px;}

link-1-kTxV.linkWihChannelEmoji-3T2y0p {border-radius: 15px;}

#app-mount .embedFull__623de {border: 3px solid; border-radius: 30px;}

[id^=popout], [class^=userProfileInner]::before {
    --theme-radius: 2rem;
    border-radius: var(--theme-radius);
    overflow: hidden;
}
.userProfileInner_c69a7b::before {
    border-radius: calc(var(--theme-radius) - 4px);
}

authBoxExpanded__921c5 authBox__921c5 theme-dark images-dark {border-radius: 30px;}

authBox__921c5 theme-dark images-dark chooseAccountAuthBox_df9c06{border-radius: 30px;}

.themedBackground__74017 {border-radius: 20px;}





/* ========== [Small Fixes] ========== */

.header_c19a55 > div {display: inline;}

html:not(.app-focused) .isUnread__908e2 {border-color: transparent}
.isUnread__908e2 {transition: .15s}
html:not(.app-focused) .newMessagesBar__0f481 {opacity: 0}
.newMessagesBar__0f481 {transition: .15s}
img[src$="3aa41de486fa12454c3761e8e223442e.png"]{content:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48cGF0aCBkPSJNMjEuNTkxIDUuMzE4bC03Ljg3IDUuMTY2YS45MTQuOTE0IDAgMCAwLS4zMTYuMzU0bC0xLjIgMi40MDVhLjIyNC4yMjQgMCAwIDEtLjQxIDBsLTEuMi0yLjQwNWEuOTE0LjkxNCAwIDAgMC0uMzE3LS4zNTRsLTcuODctNS4xNjZhLjIzMi4yMzIgMCAwIDAtLjM1NC4yOThsMy4yODkgNi4zOTdhLjIzNi4yMzYgMCAwIDEtLjE4LjMzNUgzLjE4NWEuMjMuMjMgMCAwIDAtLjEzNy40MTdsOC44MTQgNi4zMTVhLjI0My4yNDMgMCAwIDAgLjI3NCAwbDguODE0LTYuMzE1YS4yMy4yMyAwIDAgMC0uMTM3LS40MTdoLTEuOTc2YS4yMzcuMjM3IDAgMCAxLS4yMDYtLjMzNWwzLjMxNC02LjM5N2EuMjMyLjIzMiAwIDAgMC0uMzU1LS4yOThoLjAwMXoiIGZpbGw9IiM0NWRkYzAiLz48L3N2Zz4=")}img[src$="8a88d63823d8a71cd5e390baa45efa02.png"]{content:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48cGF0aCBmaWxsPSIjOWM4NGVmIiBkPSJNMjEuNTkxIDUuMzE4bC03Ljg3IDUuMTY2YS45MTQuOTE0IDAgMCAwLS4zMTYuMzU0bC0xLjIgMi40MDVhLjIyNC4yMjQgMCAwIDEtLjQxIDBsLTEuMi0yLjQwNWEuOTE0LjkxNCAwIDAgMC0uMzE3LS4zNTRsLTcuODctNS4xNjZhLjIzMi4yMzIgMCAwIDAtLjM1NC4yOThsMy4yODkgNi4zOTdhLjIzNi4yMzYgMCAwIDEtLjE4LjMzNUgzLjE4NWEuMjMuMjMgMCAwIDAtLjEzNy40MTdsOC44MTQgNi4zMTVhLjI0My4yNDMgMCAwIDAgLjI3NCAwbDguODE0LTYuMzE1YS4yMy4yMyAwIDAgMC0uMTM3LS40MTdoLTEuOTc2YS4yMzcuMjM3IDAgMCAxLS4yMDYtLjMzNWwzLjMxNC02LjM5N2EuMjMyLjIzMiAwIDAgMC0uMzU1LS4yOThoLjAwMXoiLz48L3N2Zz4=")}img[src$="011940fd013da3f7fb926e4a1cd2e618.png"]{content:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48cGF0aCBmaWxsPSIjZjQ3YjY3IiBkPSJNMjEuNTkxIDUuMzE4bC03Ljg3IDUuMTY2YS45MTQuOTE0IDAgMCAwLS4zMTYuMzU0bC0xLjIgMi40MDVhLjIyNC4yMjQgMCAwIDEtLjQxIDBsLTEuMi0yLjQwNWEuOTE0LjkxNCAwIDAgMC0uMzE3LS4zNTRsLTcuODctNS4xNjZhLjIzMi4yMzIgMCAwIDAtLjM1NC4yOThsMy4yODkgNi4zOTdhLjIzNi4yMzYgMCAwIDEtLjE4LjMzNUgzLjE4NWEuMjMuMjMgMCAwIDAtLjEzNy40MTdsOC44MTQgNi4zMTVhLjI0My4yNDMgMCAwIDAgLjI3NCAwbDguODE0LTYuMzE1YS4yMy4yMyAwIDAgMC0uMTM3LS40MTdoLTEuOTc2YS4yMzcuMjM3IDAgMCAxLS4yMDYtLjMzNWwzLjMxNC02LjM5N2EuMjMyLjIzMiAwIDAgMC0uMzU1LS4yOThoLjAwMXoiLz48L3N2Zz4=")}

.search__97492:not(.open__97492) .searchBar__97492 {width: 27px; background-color: transparent;}
.search__97492:not(.open__97492):hover .searchBar__97492 {width: 100px; background-color: var(--background-tertiary);}
.search__97492:not(.open__97492) .iconContainer_fea832 {transform: scale(1.3);}
.search__97492:not(.open__97492):hover .iconContainer_fea832 {transform: scale(1);}
.search__97492:not(.open__97492) .icon_fea832 {color: var(--text-normal);}
.search__97492:not(.open__97492):hover .icon_fea832 {color: var(--text-muted);}

.theme-dark .container__37e49 {background-color:  var(--background-secondary)} 

@font-face {font-family: "Dashless"; src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");}
[data-list-item-id^=channels___],
[class^=titleWrapper] > h1,
[class^=resultChannel], 
[class^=channelMention], 
[class^=placeholder][class*=slateTextArea] 
{font-family: "Dashless", var(--font-primary);}

.side-2ur1Qk :nth-child(8)::before {content: "Friend Requests"; color: inherit; font-size: 16px;}
.side-2ur1Qk :nth-child(8) {font-size: 0px; height: 32px;}




/* ========== [Settings Modal] ========== */

:root {--settingsmodalbackground: transparent; --settingsmodalwidth: 980px; --settingsmodalheight: 78vh;}
#app-mount .layer__960e4  ~ .layer__960e4  {border-radius: 30px !important;}
.auto__99f8c::-webkit-scrollbar {width: 20px; height: 20px;}
.auto__99f8c::-webkit-scrollbar-thumb, .auto__99f8c::-webkit-scrollbar-track {display: none;}



/* ========== [Radial Status] ========== */

:root {
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 3px;
  --rs-large-spacing: 4px;

  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 4px;
  --rs-avatar-shape: 50%;

  
  --rs-online-color: #88c0d0;
  --rs-idle-color: #cb77d3;
  --rs-dnd-color: #ff6b6d;
  --rs-offline-color: #747f8d;
  --rs-streaming-color: #593695;
  --rs-invisible-color: #747f8d;
  --rs-bot-color: #5865f2;
  --rs-phone-color: var(--rs-online-color);
  --rs-phone-visible: none;
}




/* ========== [Rounded Discord] ========== */

:root {--radius: 20px;} 




/* ========== [Rounded User Panel] ========== */

[class^="embedWrapper_"]:has(iframe),
[class^="embedWrapper_"]:has(img[src*="i.ytimg.com"]) {
  max-width: 750px !important;

  [class^="gridContainer_"] {
    max-width: 750px !important;
  }

  [class*="embedMedia_"] {
    max-width: 750px !important;
    max-height: unset !important;

    [class^="imageWrapper_"] {
      max-width: 750px !important;
      aspect-ratio: 16/9 !important;

      img {
        max-width: 750px !important;
        max-height: unset !important;
        aspect-ratio: 16/9 !important;
      }
    }

    & > [class^="embedVideo_"] {
      max-width: 750px !important;
      aspect-ratio: 16/9;
      padding: 0 !important;

      & > iframe {
        max-width: unset !important;
        max-height: unset !important;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}




/* ========== [Acrylic Right Click Menu] ========== */

:root{
    --blur-popup: 40px; 
    --opacity-popup: 0.6; 
    --radius-popup: 40px;
    --radius-context: 20px;
    /*--pop-up-color: black; 
    /*--context-menu-border: */
}





/* ========== [Viggy] ========== */

.container_a2f514 video.ready_a2f514 {
    display: none;
}
.content_a2f514::before {
    visibility: visible;
    content: '';
    display: block;
    background: url(https://media.discordapp.net/stickers/1217112512374505613.png?size=240);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 128px;
    height: 128px;
    margin: auto;
    margin-bottom: 48px;
}




/* ========== [Fix Image Thingy] ========== */

[class^="imageWrapper_"] img[class^="lazyImg"] { object-fit: contain !important; }




/* ========== [New Message Bar Hover] ========== */

.messagesWrapper__36d07 {
    overflow: hidden;
}
.newMessagesBar__0f481 {
    top: -48px;
    height: 72px;
    transition: top 0.2s ease;
    background: none;
    box-shadow: none;
    border-radius: 0;
}
.newMessagesBar__0f481::before {
    content: '';
    background: var(--brand-experiment);
    box-shadow: var(--elevation-low);
    width: 100%;
    position: absolute;
    height: 32px;
    border-radius: 12px;
}
.newMessagesBar__0f481:hover {
    top: -12px;
}




/* ========== [Better Folder Icons] ========== */

.closedFolderIconWrapper__48112 {
    display: none;
}
.folderIconWrapper__48112:not([style=""]):before {
    position: absolute;
    content: " ";
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: inherit;
    -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg);
    mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transform: scale(1.3335);
    filter: brightness(1.5) saturate(1.5);
}
.theme-light .folderIconWrapper__48112 {
    filter: brightness(0.5) saturate(4);
}





:root {
  --TB-header-padding: 125px;
}
.platform-win .typeWindows__421ed {
  height: var(--TB-bar-height, 9px);
  margin-top: 0;
  position: absolute;
  top: 10px;
  left: -13px;
  width: 100%;
  background: transparent;
}
.platform-win .winButtonClose__421ed {
  border-top-right-radius: var(--TB-tr-roundness);
}
.platform-win .winButton__421ed {
  position: relative;
  top: calc(var(--TB-position-top, 0px) - 1px);
  right: var(--TB-position-right, 0px);
  height: var(--TB-height, 48px);
  width: var(--TB-width, 40px);
}
.platform-win .winButton__421ed:not(.winButtonClose__421ed):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.platform-win .container__9293f {
  padding-right: var(--TB-header-padding);
}
.platform-win .wordmarkWindows__421ed {
  display: none;
}
.platform-win #app-mount.bd-detached-editor .winButton__421ed {
  right: 30%;
}
.platform-win .closeButton__90904 {
  right: unset;
  left: 0;
}
.platform-win #app-mount .typeWindows__421ed::before {
  content: none !important;
}



